/* Header and Footer */

header {
  line-height: 3;
  font-size: 20px;
  min-width: 960px;
  text-align: center;
  color: #fff;
  background: rgb(97,164,122);
  background: -moz-linear-gradient(top, rgb(95,164,117) 0%, rgb(97,164,122) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6ab78e), color-stop(100%,rgb(97,164,122)));
  background: -webkit-linear-gradient(top, rgb(95,164,117) 0%,rgb(97,164,122) 100%);
  background: -o-linear-gradient(top, rgb(95,164,117) 0%,rgb(97,164,122) 100%);
  background: -ms-linear-gradient(top, rgb(95,164,117) 0%,rgb(97,164,122) 100%);
  background: linear-gradient(to bottom, rgb(95,164,117) 0%,rgb(97,164,122) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6ab78e', endColorstr='#6bba93',GradientType=0 );

  .col-md-6 {
    text-align: left;
    padding-left: 10px;
  }

  &> div { border-right: 1px solid rgb(125,183,144); }
}

.avatar{ padding: 0px; }

footer {
  line-height: 3;
  font-size: 20px;
  min-width: 96px;
  text-align: center;
  color: #fff;
  background: rgb(97,164,122);
  background: -moz-linear-gradient(top, rgb(95,164,117) 0%, rgb(97,164,122) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6ab78e), color-stop(100%,rgb(97,164,122)));
  background: -webkit-linear-gradient(top, rgb(95,164,117) 0%,rgb(97,164,122) 100%);
  background: -o-linear-gradient(top, rgb(95,164,117) 0%,rgb(97,164,122) 100%);
  background: -ms-linear-gradient(top, rgb(95,164,117) 0%,rgb(97,164,122) 100%);
  background: linear-gradient(to bottom, rgb(95,164,117) 0%,rgb(97,164,122) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6ab78e', endColorstr='#6bba93',GradientType=0 );

  div { border-right: 1px solid rgb(125,183,144); }
}


/* searchbox */

.searchbox {
  width: 62%;
  display: inline-block;
  background: #fff;
  line-height: 2;
  border-radius: 20px;
  padding-left: 14px;
  color: gray;

  input {
    width: 83%;
    height: 36px;
    border: none;
    background: transparent;
    font-size: 16px;
    margin-bottom: 0;
    -webkit-box-shadow:none;
    box-shadow:none;
  }
}

/* others */

#university {
  background: #1f1f1f;
  font-size: 20px;
  color: #fff;
  line-height: 1.5;
  text-align: center;

  p { padding: 15px 0; }
}

#nav { background: #2b2a29; }

.navlist {
  list-style: none;
  line-height: 2;
  color: #a29e9a;
  border-top: 1px solid #3a3a38;
  margin: 0;
  padding: 20px 0;
  font-size: 17px;

  span {
    &:first-child {
      display: inline-block;
      padding: 10px;
    }

    &:last-child {
      display: inline-block;
      border: 1px solid gray;
      border-radius: 10px;
      padding: 0px 5px;
      margin-right: 10px;
    }
  }

  li:hover {
    span:first-child { color: #f67e71; }
    span:last-child { background: #f67e71; color: #fff; }
  }
}

#map {
  background: #f5f4ed;
  text-align: center;
  color: #a8a59c;
  padding-left: 0;

  img { padding: 0; }
  .row {
    margin-left: 0px;
    img { margin-left: 0px; }
    &>div { border-right: 1px solid #dbdad3; }
  }
}


#nav_tab1, #tab {
  text-align: left;
  background: #fff; }

#nav_tab1 {
  span {
    display: inline-block;
    font-size: 17px;
    color: #b6b6b6;
    margin-right: -5px;
    border-left: 1px solid #d0d0d0;
    border-right: 1px solid #d0d0d0;
    border-bottom: 1px solid #d0d0d0;
    line-height: 3;

    a {
      color: #b6b6b6;
      text-decoration: none;
      display: inline-block;
      padding: 0 23px;
    }
  }
}

#nav_tab1 span a:hover, #nav_tab1 span a:active {
  color: #5d5d5b;
  border-bottom: 3px solid #f8835d;
  line-height: 2.7; }

#list_row {
  border-top: 1px solid #dbdad3;
  text-align: center;
  background: #faf9f6; }

#member_count {
  border: 1px solid #d0d0d0;
  border-radius: 10px;
  padding: 4px;
  display: inline-block; }

.tab-content .row {
  margin-right: 0; }

.container [class*="col-md-"] {
  margin: 0; }

#friend_list {
  list-style: none;

  .list {
    border-top: 1px solid #cfccc0;
    margin-left: 0;
    padding: 10px 0;
    display: inline-block;

    span {
      padding: 0;
      line-height: 2;
    }
    img { padding-right: 0; }
 }
}

