#university {
  background: #1f1f1f;
  font-size: 20px;
  color: #fff;
  line-height: 1.5;
  text-align: center; }

#university p {
  padding: 15px 0; }

#nav {
  background: #2b2a29; }

.navlist {
  list-style: none;
  line-height: 2;
  color: #a29e9a;
  border-top: 1px solid #3a3a38;
  margin: 0;
  padding: 20px 0;
  font-size: 17px; }

.navlist span:first-child {
  display: inline-block;
  padding: 10px; }

.navlist li:hover span:first-child {
  color: #f67e71; }

.navlist span:last-child {
  display: inline-block;
  border: 1px solid gray;
  border-radius: 10px;
  padding: 0px 5px;
  margin-right: 10px; }

.navlist li:hover span:last-child {
  background: #f67e71;
  color: #fff; }

#map {
  background: #f5f4ed;
  text-align: center;
  color: #a8a59c;
  padding-left: 0; }

#map img {
  padding: 0; }

#map .row {
  margin-left: 0px; }

#map .row img {
  margin-left: 0px; }

#map .row > div {
  border-right: 1px solid #dbdad3; }

#nav_tab1, #tab {
  text-align: left;
  background: #fff; }

#nav_tab1 span {
  display: inline-block;
  font-size: 17px;
  color: #b6b6b6;
  margin-right: -5px;
  border-left: 1px solid #d0d0d0;
  border-right: 1px solid #d0d0d0;
  border-bottom: 1px solid #d0d0d0;
  line-height: 3; }

#nav_tab1 span a {
  color: #b6b6b6;
  text-decoration: none;
  display: inline-block;
  padding: 0 23px; }

#nav_tab1 span a:hover, #nav_tab1 span a:active {
  color: #5d5d5b;
  border-bottom: 3px solid #f8835d;
  line-height: 2.7; }

#list_row {
  border-top: 1px solid #dbdad3;
  text-align: center;
  background: #faf9f6; }

#member_count {
  border: 1px solid #d0d0d0;
  border-radius: 10px;
  padding: 4px;
  display: inline-block; }

.tab-content .row {
  margin-right: 0; }

.container [class*="col-md-"] {
  margin: 0; }

#friend_list {
  list-style: none; }

#friend_list .list {
  border-top: 1px solid #cfccc0;
  margin-left: 0;
  padding: 10px 0;
  display: inline-block; }

#friend_list .list span {
  padding: 0;
  line-height: 2; }

#friend_list .list img {
  padding-right: 0; }
